$primary-color: #E47209;
$secondary-color: #FFC700;
$third-color: #FF8997;

.groupButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.navList {
    list-style-type: none;
}
@mixin navButtons($color){
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background-color: $color;
    font-size: 2rem;
    color: #FFF5D2;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    margin: 2rem 0rem;

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &:hover{
        filter: drop-shadow(0 0 0.95rem $secondary-color);
    }
}

#buttonWaiter {
    @include navButtons($primary-color)
}
#buttonChef {
    @include navButtons($secondary-color)
}
#buttonOrders {
    @include navButtons($third-color)
}   

.icon{
    width: 4.5rem;
}
.orderSpan{
    width: 10.5rem;
}
.textLink{
    text-decoration: none;
}