$primary-color: #F3BB62;
$secundary-color: #FFF5D2;
$third-color: #C8603F;
$fourth-color: #49381D;
$font:  "Inter", sans-serif;
$font-size: 1.2rem;

.hamburgerContainer{
    width: 94%;
    height: 94%;
    display: grid;
    grid-template-rows: 8% 82% 10%;
    justify-self: center;
    font-family: $font;
    font-size: 1.5rem;
    h3, h2{
        margin: 0px;
    }
}
.boxTitle{
    display: grid;
    grid-template-columns: 45% 30% 15% 10%;
    text-align: center;
    align-self: center;
    color: $secundary-color;
    font-size: $font-size;
}

.boxProducts{
    max-height: 550px;
    overflow-y: scroll;
}

.headerOrder{
    border-radius: 20px 20px 0px 0px;
    background-color: $primary-color;
    color: $fourth-color;
    display: flex;
    align-items: center;
    justify-content: center;
    // align-items: center;
}

.bodyOrder{
    background-color: $third-color;
    margin: 0.5rem 0px;
    padding: 0rem 2rem;
}

.footerOrder{
    border-radius: 0px 0px 20px 20px;
    background-color: $primary-color;
}


.containerDetailProduct{
    display: grid;
    grid-template-columns: 45% 30% 25%;
    align-items: center;
    p, input{
        justify-self: center;
    }
}

.additionsContainer{
    display: flex;
    flex-direction: column;
    text-align: start;
    // padding-left: 2.5rem;
    span {
        margin: 0px;
        padding: 0px;
    }
}
.buttonsDown{
    // height: 8%;
    // width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@mixin buttons($url_image, $border){
    width: 100%;
    height: 85%;
    background-size: cover;
    border-radius: $border;
    text-align: center;
    background-image: url($url_image);
    background-color: transparent;
    border: none;
    align-self: center;
    font-family: $font;
    font-size: 1.2rem;
}

.buttonCancelOrder{
    $url: "../../assets/images/buttonH-left-down.png";
    $border : 0px 0px 0px 50px;
    @include buttons($url, $border);
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}
.disabledStart{
    $url: "../../assets/images/buttonH-left-down.png";
    $border : 0px 0px 50px 0px;
    @include buttons($url, $border);
    opacity : 0.5;
}

.buttonSendToDeliver {
    $url: "../../assets/images/buttonH-right-down.png";
    $border : 0px 0px 50px 0px;
    @include buttons($url, $border);
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

.disabledSend{
    $url: "../../assets/images/buttonH-right-down.png";
    $border : 0px 0px 50px 0px;
    @include buttons($url, $border);
    opacity : 0.5;
}

.none{
    display: none;
}

.checkbox{
    display:block;
}

