$primary-color: #F1B36E;
$secundary-color: #FFDE69;
$primary-font: 'Inter', sans-serif;

.productImage{
    width: 70%;
    align-self: center
}

@mixin background($color, $height){
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $color;
    width: 290px;
    height: $height;
}

.productCardBreakfast{
    $height1: 350px;
    @include background($secundary-color, $height1);
}

.productCardLunch {
    $height1: 350px;
    @include background($primary-color,  $height1);
}

.productCardLunchHamburger{
    $height2: 450px;
    @include background($primary-color,  $height2);
}

@mixin addProductButton($url_image){
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    border: none;
    background-image: url($url_image);
    align-self: flex-end;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

.addProductBreakfast{
    $url: "../../assets/images/add_product_yellow.png";
    @include addProductButton($url);
}

.addProductLunch {
    $url: "../../assets/images/add_product_red.png";
    @include addProductButton($url);
}

.menuContainer{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

.textItem{
    font-family: $primary-font;
    font-size: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: 0.5rem 0rem 0.5rem 0rem;
    width: 70%;
    align-self: center;
}

.imageItemDiv{
    display: flex;
    flex-direction: column;
}

.textPrice{
    font-family: $primary-font;
    font-size: 1.5rem;
    margin: 0px;
}
.priceAddDivNoOptions{
    display: grid;
    grid-template-columns: 60% 40%;
    align-self: center;
    align-items: center;
    font-family: $primary-font;
    font-size: 1.5rem;
    margin: 0px;
}

.priceAddDivOptions{
    font-family: $primary-font;
    font-size: 1.5rem;
    margin: 0px;
}

#noOptionsHamburger{
    display:none;
}

.containerRadioButton{
    display: grid;
    grid-template-columns: 25% 26%;
    font-size: 1.5rem;
    margin: 0px;
    justify-content: space-evenly;
}
.containerCheckBox{
    display: flex;
    flex-direction: column;
    align-items: start;
   // padding-left: 17.5%;
}
.inputRadioButton{
    display: flex;
}

.textAdditions{
    display: flex;
    justify-content: space-evenly;
    height: 3.5rem;
}
.containerCheckAdd{
    display: grid;
    grid-template-columns: 36% 16%;
    justify-content: space-evenly;
}

